extends layout

block content
	h1 Translate Page

		form#translateWord
			select(name="languageStart", placeholder="Original-Language")
				option(value="en") English
				option(value="fr") French
				option(value="es") Spanish
			select(name="languageEnd", 	placeholder="Translate-Language")
				option(value="en") English
				option(value="fr") French
				option(value="es") Spanish
			input(name="word", placeholder="Word")
	
			input.submit(type="submit")
		
